h1
{
    color: white;
}
p
{
    color: white;
}
header
{
    background-image: url(boot1/images/me.jpg);
    background-size: cover;
    background-position: center center;
    height: 100%;
    margin: 0;
    padding: 0;
}
.icon
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: solid 1px #fff;
    margin: 5px;
}